@font-face {
    font-family: myFont;
    src: url('font/GE_SS_Two_Bold.woff')
}

@font-face {
    font-family: myFont2;
    src: url('font/HelveticaNeueW23-Reg.ttf')
}

body{
    padding-top:120px;
}

/*navbar style*/

.navbar-default{
    background-color:#0c5c82;
    border-color:#e7e7e7;
 
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family:myFont;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #e7e7e7;
}
.nav > li {
    height: 70px;
    padding-top: 10px;
}

/*footer style*/
.myfooter{
    background-color:cornflowerblue;
    padding-top:10px;
    font-family:myFont;
    text-align:justify;
}
.myfooter a,p{
    color:azure;
}

.myfooter h3,ul,p{
    margin-bottom:20px;
    font-family:myFont2;
}
.subfooter {
    background-color: #0c5c82;
    color: white;
    padding: 10px;
    text-align: center;
}


/*Logo style*/
/*dont forget to make it responsive*/
.logo-size {
    height: 62px;
    width: 100px;
    border-radius: 50%;
    margin-top: -12px;
    background-color: white;
}